<ion-header>
  <ion-toolbar>
    <ion-title>companydetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>ID: {{details?.companyId}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Name: {{details?.companyName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: {{details?.companyEmail}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CR: {{details?.companyCr}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Phone Number: {{details?.companyPhoneNumber}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mobile Number: {{details?.companyMobileNumber}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Address: {{details?.companyAddress}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
